.results-container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #141414;
  color: #ffffff;
}

td {
  background-color: #ffffff;
  color: #141414;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
