<div class="app-container no-results" *ngIf="results.length === 0">
  <app-search
    (searchResult)="onSearchResult($event)"
    (totalResults)="onTotalResults($event)"
    (querySearch)="onQuerySearch($event)"
    (pageChange)="onPageChange($event)"
  >
  </app-search>
</div>
<div class="app-container with-results" *ngIf="results.length > 0">
  <app-search
    (searchResult)="onSearchResult($event)"
    (totalResults)="onTotalResults($event)"
    (querySearch)="onQuerySearch($event)"
    (pageChange)="onPageChange($event)"
  >
  </app-search>
  <app-results
    [results]="results"
    [query]="query"
    [totalResults]="totalResults"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)"
  >
  </app-results>
</div>
