<form nz-form (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm">
  <div class="search-container">
    <input
      nz-input
      placeholder="Enter GitHub Username"
      [(ngModel)]="login"
      name="login"
      required
      #loginInput="ngModel"
      [ngClass]="{
        error: loginInput.invalid && (loginInput.dirty || loginInput.touched)
      }"
    />
    <button
      nz-button
      nzType="primary"
      [nzLoading]="loading"
      type="submit"
      [disabled]="!isButtonEnabled(searchForm)"
    >
      Submit
    </button>
  </div>
  <div
    *ngIf="
      loginInput.invalid &&
      (loginInput.dirty || loginInput.touched || isFormSubmitted)
    "
    class="error-message"
  >
    <p *ngIf="loginInput.errors?.['required']">Username is required.</p>
  </div>
</form>
